[class^="icon-"],
[class*=" icon-"] {
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
}
.btn.dropdown-toggle [class^="icon-"],
.btn.dropdown-toggle [class*=" icon-"] {
  /* keeps button heights with and without icons the same */

  line-height: 1.4em;
}
.icon-large {
  font-size: 1.3333em;
}


.icon-nabaztag { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf100;&nbsp;');} 
.icon-weather { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf101;&nbsp;');} 
.icon-tts { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf102;&nbsp;');} 